.profile-container {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-align: center;
    color: var(--accent-color);
    background: var(--nav-bg)
}
.profile-image-section img{
    width: 40%;
    height: auto;
    border-radius: 100px;
    padding: 10px;
}